*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500; 
    color: white !important;  
    padding: 0;
    background: black !important;
}
svg{
    color: black !important;
}
body{
    background: rgb(0, 0, 0) !important;
}
button{
    background: black !important;
    color: blue;
    font-weight: 500;   
}

.xuk3077, .x78zum5, .x1iyjqo2, .xl56j7k, .x1p8ty84, .x1na7pl, .x88anuq{
    background: black !important;
}
.x78zum5, .xdt5ytf, .xz62fqu, .x16ldp7u{
    color: black;
    background: white;
}
.x1iorvi4, .x1pi30zi, .x1l90r2v, .x1swvt13{
    background: black !important;
}
.x1ey2m1c, .xds687c, .x5yr21d, .x10l6tqk, .x17qophe, .x13vifvy, .xh8yej3, .xl1xv1r{
    background: transparent;
}
.x9f619, .x1n2onr6, .x1ja2u2z, .x78zum5, .x1r8uery, .x1iyjqo2, .xs83m0k, .xeuugli, .xl56j7k, .x6s0dn4, .xozqiw3, .x1q0g3np, .xn6708d, .x1ye3gou, .xexx8yu, .xcud41i, .x139jcc6, .x4cne27, .xifccgj, .xn3w4p2, .xuxw1ft{
    background: transparent;
}
.x1ey2m1c, .xds687c, .x5yr21d, .x10l6tqk, .x17qophe, .x13vifvy, .xh8yej3, .xl1xv1r{
    background: transparent !important;
}
.x6s0dn4, .x78zum5, .x1iyjqo2, .x6ikm8r, .x10wlt62{
    color: white;
}
.x1b0d499, .x1d69dk1{
    background: white !important;
    fill: white;
}
.x9f619, .x1n2onr6, .x1ja2u2z, .x78zum5, .xdt5ytf, .x2lah0s, .x193iq5w, .xeuugli, .x150jy0e, .x1e558r4, .x10b6aqq, .x1yrsyyn{
    background: transparent;
}
i{
    background: white !important;
    color: white;
    fill: white;
}
.x3nfvp2{
    background: transparent;
}
.x9f619, .x1n2onr6, .x1ja2u2z, .x78zum5, .xdt5ytf, .x193iq5w, .x1l7klhg, .x1iyjqo2, .xs83m0k, .x2lwn1j{
    background: transparent !important;
}